/* 헤더 */

.container {
    width: 1920px;
    height: 150px;
}

.loginBar {
    width: 100%;
    height: 34px;
    background-color: var(--color-gray-100);
    display: flex;
    justify-content: center;
}

.loginBar ul {
    width: 1020px;
    height: 24px;
    display: flex;
    align-items: center;
    padding-left: 8px;
}

.loginBar ul li:nth-of-type(3) {
    margin-left: auto;
}

.loginBar ul li {
    margin-right: 8px;
}

.loginBar ul li a {
    font-size: 12px;
    font-weight: 400;
}

.contentWraper {
    width: 100%;
    height: 116px;
    display: flex;
    justify-content: center;
}

.contentBox {
    display: grid;
    width: 1020px;
    grid-template-columns: 110px 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "categori logo Search myBox basketBox"
        "categori linkBox linkBox myBox basketBox";
}

.button--category {
    grid-area: categori;
    background-image: url("/assets/icon/hamburger.svg");
    background-position: 50% 30%;
    background-color: var(--color-blue-600);
    background-repeat: no-repeat;
    font-size: 12px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    color: white;
    border: none;

}

.button--category span {
    transform: translateY(70px);
}

.logo {
    grid-area: logo;
    padding-left: 40px;
}

.logo a img {
    width: 176px;
    height: 40px;
}

.Search {
    grid-area: Search;
    padding-left: 30px;
    font-size: 12px;
    font-weight: 400;
    color: var(--color-gray-700);
    display: flex;
    align-items: center;
}

.Search select {
    appearance: none;
    width: 135px;
    height: 40px;
    padding-left: 12px;
    border: 1px solid var(--color-blue-500);
    background-image: url("/assets/icon/drop-down.png");
    background-repeat: no-repeat;
    background-position: 90% 50%;
    background-size: 9px 6px;
    border-right: 1px solid var(--color-gray-100);
    ;
}

.Search input {
    width: 300px;
    height: 40px;
    border: 1px solid var(--color-blue-500);
    border-left: 1px solid var(--color-gray-200);
    position: relative;
    border-right: none;
}

.micBtn,
.searchBtn {
    width: 40px;
    height: 40px;
    background-color: white;
    background-position: center;
    border: none;
}

.micBtn {
    background-image: url("/assets/icon/mic.svg");
    border-top: 1px solid var(--color-blue-500);
    border-bottom: 1px solid var(--color-blue-500);
}

.searchBtn {
    background-image: url("/assets/icon/search.svg");
    border: 1px solid var(--color-blue-500);
    border-left: none;
}

.myCoupang {
    grid-area: myBox;
    margin-left: 22px;
    display: flex;
    align-items: center;
    position: relative;

}

.myCoupang button {
    background-image: url("/assets/icon/my-coupang.svg");
    background-repeat: no-repeat;
    background-position: 50% 25%;
    font-size: 12px;
    font-weight: 400;
    border: none;
    background-color: white;
    width: 57px;
    height: 58px;
    padding-top: 35px;

}

.cart {
    grid-area: basketBox;
    display: flex;
    align-items: center;
    position: relative;
}


.cart button {
    background-image: url("/assets/icon/cart.svg");
    background-repeat: no-repeat;
    background-position: 50% 25%;
    font-size: 12px;
    font-weight: 400;
    border: none;
    background-color: white;
    width: 57px;
    height: 58px;
    padding-top: 35px;
    position: relative;

}

.cart button span {
    color: white;
    width: 18px;
    height: 18px;
    background-color: var(--color-blue-600);
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 3px;
    right: 3px;
}

.linkBox {
    grid-area: linkBox;
    display: inline-block;
    font-size: 12px;
    margin-left: 36px;
}

.linkBox a {
    margin-left: 24px;
}

.is--active::after {
    content: "주문 목록 \A\A\A취소/반품 \A\A\A찜리스트";
    white-space: pre;
    position: absolute;
    font-size: 12px;
    padding-top: 15px;
    width: 100px;
    height: 130px;
    text-align: center;
    bottom: 0;
    z-index: 1;
    transform: translate(-23px, 90px);
    border: 2px solid var(--color-gray-200);
}

.is--active::before {
    content: '';
    position: absolute;
    left: 50%;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-bottom-color: var(--color-gray-200);
    border-top: 0;
    margin-left: -8px;
    margin-top: -8px;
    transform: translate(0, 33px);
}

.cart--empty::after {
    content: "장바구니에 담긴 상품이 없습니다.";
    white-space: pre;
    position: absolute;
    font-size: 12px;
    background-color: white;
    padding-top: 15px;
    width: 300px;
    height: 130px;
    text-align: center;
    bottom: 0;
    z-index: 1;
    transform: translate(-200px, 95px);
    border: 2px solid var(--color-gray-200);
    padding-top: 55px;
}

.cart--empty::before {
    content: '';
    position: absolute;
    left: 50%;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-bottom-color: var(--color-gray-200);
    border-top: 0;
    margin-left: -12px;
    margin-top: -8px;
    transform: translate(0, 37px);
}